<header>
    <div class="container-grid posicionamento-header">
        <a href="#"><img src="assets/img/gamemania2.svg" alt="Logo do site E-Players"></a>
        <nav id="menu" class="menu">
            <a routerLink="">INÍCIO</a>
            <a routerLink="/login">LOGIN/CADASTRO</a>
            <a routerLink="/contato"> CONTATOS</a> 
            <a routerLink="/produtos"> PRODUTOS</a>
            <a href="">NOTÍCIAS</a>
        </nav>
        <!-- <a href="#" onclick="mostrarMenu()"><img class="barras" src="img/bars.svg" alt="Menu de barras"></a> -->
        <a href="#" id="barras"><img class="barras" src="assets/img/bars.svg" alt="Menu de barras"></a>
    </div>
</header>
